# Xcode
#
build/
DerivedData/
Index.noindex/
*.xcworkspace
*.xcuserdata/
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
#
.build/
Packages/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/checked-out-packages/
.swift-version
Package.resolved

# CocoaPods
#
Pods/
podfile.lock

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*.png
fastlane/test_output/

# Xcode Server
#
.xcscheme

# Playgrounds
#
timeline.xctimeline
playground.xcworkspace

# User settings
#
*.xcuserstate
*.xccheckout

# Certificates and provisioning profiles
#
*.mobileprovision
*.p12

# Archive
#
*.xcarchive

# Logs
#
*.log

# Misc
#
.DS_Store
*.swp
*.lock
